*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.prefooter{
    width: 100%;
    height: auto;
    background-color: #4b1f14;
}

.endfooter{
    width: 100%;
    height: auto;
    background-color: #4b1f14;
}

.contenedor{
    width: 100%;
    height: auto;
    display: inline-table;
}

.caja{
    float: left;
    border: 2px solid black;
    height: auto;
    margin: 2px;
    text-align: center;
}

.flex-container{
    display: flex;
    background-color: white;
    flex-basis: 100%;
}

.flex-container div{
    background-color: brown;
    margin: 5px;
    color: white;
    flex-basis: 100%;
}

@media screen and (min-width:601px){
    #caja4{
        clear:left;
    }

    .caja{
        width: calc((100% / 3) - 4px);
        height: 400px;
    }

    .flex-container{
        flex-direction: row;
    }

    html{
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width:401px) and (max-width:600px){
    #caja3{
        clear:left;
    }
    
    .caja{
        width: calc((100% / 2) - 4px);
        height: 350px;
    }

    .flex-container{
        flex-direction: column;
    }

    html{
        width: 600px;
        height: auto;
    }
}

@media screen and (max-width:400px){
    .caja{
        clear: left;
        width: calc(100% - 4px);
    }
    .flex-container{
        flex-direction: column;
    }

    html{
        width: 400px;
        height: auto;
    }
}   

/**/
/**/
/**/

ul{
    list-style: none;
    width: 100%;
    height: auto;
    display: flex;
}


html{
    background-color: #f5ebdc;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

li{
    flex-basis: 250px;
}

ul > li > ul{
    display: none;
}

ul > li:hover > ul{
    display: block;
    height: 100%;
}

.opcion{
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
}

.subOpcion{
    background: rgba(128, 128, 128, 0.427);
    color: white;
}

a{color: white;}



/**/
/**/
/**/

@media(max-width:500px){
    .image-wrap{height:130px}

    img {
        height: 130px;
    }
}


@media (max-width: 768px){
    .product__title {
        font-size: 17px;
        letter-spacing: -.41px;
        margin-bottom: 4px;
    }
}   

@media(max-width:1024px){
    .image-wrap{height:165px}

    img {height: 165px;}
    
}

.product__title {
    font-family: Flame-Regular;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -1.02px;
    color: #502314;
    font-size: 22px;
    margin-bottom: 8px;
    line-height: 32px;
    letter-spacing: -.53px;
}


h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

img {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 240px;
    object-fit: contain;
}

.image-wrap{
    height:240px;margin-bottom:16px
}
