#imagen{
      width: 100px;
      height: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
}

.prefooter{
    width: 100vw;
    height: auto;
    background-color: #4b1f14;
    text-align: center;
}

.endfooter{
    background-color: #4b1f14;
    color: white;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
}

#col{
    border: 1px solid black;
    background-color: #D7DF91;
}


@media (max-width:767px) {
    .endfooter{
    display:none !important;
    }
}
